<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%home%\site\wwwroot\env\Scripts\python.exe" 
                  arguments="%home%\site\wwwroot\startup.sh" 
                  requestTimeout="00:30:00"
                  startupTimeLimit="600" 
                  startupRetryCount="3" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile="%home%\LogFiles\python.log">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>
    <httpProtocol>
      <customHeaders>
        <add name="Connection" value="Keep-Alive" />
        <add name="Keep-Alive" value="timeout=1800, max=100" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <httpRuntime executionTimeout="1800" maxRequestLength="1048576" />
  </system.web>
</configuration>